---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to gbbns.co">
  <section class="c-content">
    <div class="c-content__title">
      <h1 class="t-hero--home">Blogroll</h1>
      <p>
        A list of great people/sites I read on a semi-regular basis, follow or
        recommend. In alphabetical order.
      </p>
    </div>
    <div class="c-content__body">
      <p>
        <a href="https://pauldambra.dev/weeknotes.html">Paul D'Ambra</a>
        Engineer @posthog , ex @coopdigital @footclicksus swears too much, draws
        rubbish diagrams (he/him/his) https://mastodon.me.uk/@pauldambra
      </p>
      <p>
        <a href="https://paulsmith.site/weeknotes/">Paul Smith</a>
        Interaction Designer. Generally designing, prototyping, coding & problem
        solving
      </p>
    </div>
  </section>
</Layout>
