---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to gbbns.co">
  <section class="c-content">
    <div class="c-content__title">
      <h1 class="t-hero--home">Blogroll</h1>
      <p>People/sites I read on a semi-regular basis.</p>
    </div>
    <div class="c-content__body">
      <p>Blog roll will appear soon</p>
    </div>
  </section>
</Layout>
