---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to gbbns.co">
  <section class="c-content">
    <div class="c-content__title">
      <h1 class="t-hero--home">Get in touch</h1>
      <p>
        Whether you have a question you&rsquo;d like to ask, a request for me to
        speak at your event or you want me to help with FE or consult on your
        project then feel free to get in touch.
      </p>
    </div>
    <div class="c-content__body">
      <p>
        I normally respond the quickest on{' '}
        <a href="https://www.twitter.com/_gbbns">Twitter - @_gbbns</a>, so
        I&rsquo;d recommend hitting me up on there for quick questions or to
        chat (DM&rsquo;s are open).
      </p>
      <p>
        If you want to discuss a project, me working with you, speaking, or
        something longer, then please{' '}
        <a href="mailto:chris@gbbns.co">Email me - chris@gbbns.co</a> - though don’t
        be offended if it takes a day or so to reply!
      </p>
    </div>
  </section>
</Layout>
