---
import Layout from '../layouts/Layout.astro'
import { siteMetaData } from '../data/siteMetaData.mjs'
---

<Layout title="Welcome to gbbns.co">
  <section class="c-content">
    <div class="c-content__title">
      <h1 class="t-hero--home">
        Who is this chap called {siteMetaData.author.name}?
      </h1>
      <p>
        Gather round, let us read on and find out more about what makes {
          siteMetaData.author.firstName
        } tick, and hopefully myth bust what the heck is a "Design Engineer"...
      </p>
    </div>
    <div class="c-content__body">
      <h2>A manuael of me</h2>

      <h3>The best way to give me feedback is …</h3>
      <p>
        Ideally face to face, so if you're comfortable with that we'll hop on a
        call. I'm happy for it to be in any format, so long as it's timely and
        specific
      </p>

      <h3>The basics you should know about me are ...</h3>
      <p>
        Primarily remote but will happily go to the office with enough notice. I
        have a record of being my own worst critic and can start to get a bit
        silent/resentful when things aren't always as I want them, don't take it
        personally! I don't like: - Working with a lack of direction/planning -
        Mobbing for too long - Working in isolation (for too long) - Too many
        video calls, much prefer audio only - People talking over each other I
        do like: - Being prepared for meetings/projects - Mobbing where needed,
        but ideally pairing - Space to work out problems, but don't leave me
        alone for too long or I will get distracted - Collaboration - Workshops!
        I often have my headphones on listening to whatever the Spotify Gods
        recommend, but _always_ feel free to interrupt me
      </p>

      <h3>Beyond work, I’m really passionate about ...</h3>
      <p>
        Happiest when outdoors - camping/hiking/cycling etc. I have two boys who
        I co-parent three nights a week, so there might be days when I have to
        drop off work a little earlier, but I'll always be free for async chats.
      </p>

      <h3>My best working patterns look like ...</h3>
      <p>
        Early mornings - up until 11:30am Late afternoons from 14:30(ish) Worth
        noting I have the school run on Tuesday and Friday.
      </p>

      <h3>When I'm dealing with stress, I ...</h3>
      <p>I get a bit sweary, and can be a little abrupt.</p>

      <h3>My absolute requirements to do great work are ...</h3>
      <p>
        Being valued and having opportunities for progression Goals: - Ideally
        small pieces of work that are 'to-do' list friendly Good coffee Music A
        clear idea of "why are we doing this"
      </p>
    </div>
  </section>
</Layout>
