---
import Layout from '../layouts/Layout.astro'
import { siteMetaData } from '../data/siteMetaData.mjs'
---

<Layout title="Welcome to gbbns.co">
  <section class="c-content">
    <div class="c-content__title">
      <h1 class="t-hero--home">
        Manual of me
      </h1>
      <p>
        Here's a manual of me, think of it as my personal user manual, it will hopefully help you understand how to work with me, how I like to work, what I value at work, what my needs and preferences are, all to hopefully enable us to work together better.
      </p>
    </div>
    <div class="c-content__body">
      <h2>The basics you should know about me are&hellip;</h2>
      <p>
        Primarily remote but will happily go to the office a day or two per week. I
        have a record of being my own worst critic and can start to get a bit
        silent/resentful when things aren't always as I want them, don't take it
        personally!</p>
      <p>I enjoy getting stuck in on projects, especially early ideation/conception stages or generally any stages where my skills can really shine.</p>
      <p>I often have my headphones on listening to whatever the Spotify Gods recommend, but <i>always</i> feel free to interrupt me, I'm always happy to chat with folk.</p>
      <hr />
      <h2>I Like:</h2>
      <ul>
        <li>Being prepared for meetings/projects</li>
        <li>Mobbing where needed, but ideally pairing</li>
        <li>Space to work out problems, but don't leave me alone for too long or I will get distracted.</li>
        <li>Collaboration!</li>
        <li>Workshops!</li>
      </ul>
      <hr />
      <h2>I don't like:</h2>
      <ul>
        <li>Working with a lack of direction/planning Or too much detail! I can struggle to take it all in and can lose focus</li>
        <li>Mobbing for too long</li>
        <li>Working in isolation (for too long) can cause focus to drift</li>
        <li>Too many video calls, much prefer audio only</li>
        <li>People talking over each other</li>
      </ul>
      <hr />
      <h2>What I do:</h2>
      <ul>
        <li>HTML & CSS; A spattering of JavaScript - inc. React et al.</li>
        <li>Responsive & Mobile-first design and implementation.</li>
        <li>UI/UX work to build cohesive experiences.</li>
        <li>Using HTML/CSS/JS for prototyping and user testing</li>
        <li>Promote the use of Web Standards</li>
        <li>Help establish and build Design systems.</li>
        <li>Enable, and improve, conversations between design and engineering.</li>
        <li>Bring an engineering perspective to design. This helps drive more empathetic product thinking, with better UI/UX for the users.</li>
        <li>Strongly, and vocally advocate, for Accessibility & Inclusivity, in everything we do, not just web products, but in socialtech spaces too.</li>
        <li>Cultivating communities, and successfully rebooting, growing and continually supporting communities around Front-End and Accessibility.</li>
        <li>Workshop facilitation.</li>
        <li>A growing fondness for public speaking, from meetups to conferences, on all the good things listed about.</li>
        <li>Mentoring and growing developers, of all abilities, to help them achieve their best.</li>
      </ul>
      <hr />
      <h2>The best way to give me feedback is:</h2>
      <p>Ideally, face-to-face, so if you're comfortable with that we'll hop on a call. I'm happy for it to be in any format, so long as it's timely and specific!</p>
      <hr />
      <h2>My superpowers are:</h2>
      <p>"Proper" Front-end, none of this framework malarkey, give me HTML/CSS, web performance, accessibility, and the ability to bridge design/engineering.</p>
      <hr />
      <h2>Beyond work I get my energy from&hellip;</h2>
      <p>Happiest when I'm outdoors - camping/hiking/cycling etc.</p>
      <p>I'm a dad to two boys who I co-parent three nights a week, so there might be days/times when I have to drop off work a little earlier, but always free for async chats, and I'll always make my time up!</p>
      <hr />
      <h2>My typical working patterns are:</h2>
      <ul>
        <li>Early mornings: up until 11:30am</li>
        <li>Late afternoons: from 14:30(ish)</li>
        <li>I have the school run on Wednesday/Thursday mornings, and have my kids Tuesday/Friday afternoons.</li>
      </ul>
      <p>I'm likely to read/send/reply to messages at all hours, if I do then there is no expectation of a reply, it's just the way I work.</p>
      <hr />
      <h2>When I'm dealing with stress, I ...</h2>
      <p>Either get a bit sweary and abrupt, or I'll fully withdraw and become silent. There's no middle ground.</p>
      <hr />
      <h2>My absolute requirements to do great work are ...</h2>
      <p>
        Being valued and having opportunities for progression Goals: - Ideally
        small pieces of work that are 'to-do' list friendly Good coffee Music A
        clear idea of "why are we doing this"
      </p>
      <hr />
      <h2>You can support me by&hellip;</h2>
      <p>Not pushing me in a direction I don't want to go, and ideally not putting me in situations that make me uncomfortable, this is highly likely to trigger my ADHD/MH issues.</p>
      <ul>
        <li>Chatting through problems as/when they occur.</li>
        <li>Get stuck in, if I'm running a workshop please get involved</li>
        <li>Looking at how you can support me in achieving my goals.</li>
      </ul>
    </div>
  </section>
</Layout>
