---
import Layout from '../layouts/Layout.astro'
import { format } from 'date-fns';
---

<Layout title="Welcome to gbbns.co">
  <main>
    <section class="c-content">
      <div class="c-content__title">
        <h1 class="t-hero--home">What I&rsquo;m doing now</h1>
            <p class="c-content__meta-items">
              <span class="c-content__meta-item"
                >last updated: {
                  format(new Date(), 'iiii do LLLL yyyy')
                }</span
              >
            </p>
        <p>
          Life is a hectic affair; To help keep me sane and to give me some
          guidance, these are my current areas of focus:
        </p>
      </div>
      <div class="c-content__body">
        <hr />
        <h2>Photography</h2>
        <p>
          <a href="https://www.instagram.com/_gbbns" rel="noopener">
            Improving my photography
          </a>
          ,{' '}
          <a
            href="https://www.fujifilm.com/products/digital_cameras/x/fujifilm_x_t1/"
            rel="noopener"
          >
            with my new(ish) toy
          </a>
        </p>
        <hr />
        <h2>Work</h2>
        <ul>
          <li>
            Continuing to promote and improve both of the guilds I&rsquo;ve
            setup &ndash; the <abbr title="Inclusive Design Guild">IDG</abbr>{
              ' '
            }
            &amp; the <abbr title="Front End">FE</abbr> guild
          </li>
          <li>
            Devoting time out to meetup regularly with my mentor(s) for a coffee
          </li>
          <li>
            Making a better effort to attend more local industry events &amp;
            meetups such as{' '}
            <a href="https://nuxuk.org/" rel="noopener"> NUX</a>
            , as well as the great events being run within{' '}
            <a href="https://www.autotrader.co.uk/" rel="noopener">
              Auto Trader
            </a>
          </li>
        </ul>
        <hr />
        <h2>Reading</h2>
        <p>
          Taking part in{' '}
          <a href="https://www.goodreads.com/user_challenges/10861757">
            GoodRead&rsquo;s reading challenge
          </a>
          .
        </p>
        <hr />
        <h2>This site</h2>
        <p>Tweaking, improving, and growing my online home.</p>
        <hr />
        <h2>Other</h2>
        <p>Build both my photography, and my bucket list sites.</p>
        <hr />
        <h2>Hopes, dreams and ambitions</h2>
        <p>Keeping my dream of going to Australia alive.</p>
        <hr />
        <p>
          Inspired by{' '}
          <a href="https://sivers.org/nowff" rel="noopener">
            Derik Sivers Now page
          </a>
          , via{' '}
          <a href="https://marcjenkins.co.uk/now/" rel="noopener">
            Marc Jenkins Now page
          </a>
          ,{' '}
          <a href="https://nownownow.com" rel="noopener"> amongst others</a>
          .
        </p>
      </div>
    </section>
  </main>
</Layout>
