---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to gbbns.co">
  <section class="c-content">
    <div class="c-content__title">
      <h1 class="t-hero--home">Talking</h1>
      <p>
        Being an introvert{' '}
        <a
          rel="nofollow noopener"
          href="https://en.wikipedia.org/wiki/Myers%E2%80%93Briggs_Type_Indicator"
        >
          ISTP
        </a>
        , the very idea of public speaking scares the crap out of me, but I do it,
        because weirdly I enjoy it - usually afterwards, when I&rsquo;m in the pub.
      </p>
      <p>
        <a href="mailto:chris@gbbns.co" rel="nofollow noopener">
          Please send me an email if you’d like me to speak at your event.
        </a>
      </p>
    </div>
    <div class="c-content__body">
      <h2>Upcoming talks</h2>
      <p>
        Sadly nothing at the minute, given Covid, but I am exploring
        opportunities for future talks.
      </p>
      <hr />
      <h2>Previous talks</h2>
      <ul>
        <li>
          <a
            href="https://www.youtube.com/watch?v=0I6iqoPJEeQ&ab_channel=AccessibilityManchester"
            rel="noopener"
          >
            a11yMCR: Design systems at Co-op
            <br />
            Apr 2021 - remote
          </a>
        </li>
        <li>
          <a
            href="https://open.spotify.com/episode/2cXfodU5FXrNFRyMDhaG1X?si=9-xWGUrNTYWPtDj0Yh883Q"
            rel="noopener"
          >
            UX, Coffee + Code podcast: Design systems <br />
            October 2020
          </a>
        </li>

        <li>
          Camp Digital: &ldquo;And in the beginning there was HTML&rdquo;
          <br /> - May 2020, Manchester UK. (Sadly cancelled due to the pandemic)
        </li>
        <li>
          UX Scotland: &ldquo;And in the beginning there was HTML&rdquo;
          <br />- June 2020, Edinburgh UK (Sadly cancelled due to the pandemic)
        </li>
        <li>UX Crunch, Manchester UK: Data accessibility - January 2020</li>
        <li>
          <a
            href="https://uxscotland.net/2018/sessions/index.php?session=93"
            rel="noopener"
          >
            UX Scotland: &ldquo;How we became accidental accessibility
            champions, and how you could too!&rdquo;
            <br />- 14th June 2018 - Edinburgh
          </a>
        </li>
        <li>
          <a
            href="https://www.wearesigma.com/campdigital/2018/chris-gibbons/"
            rel="noopener"
          >
            Camp Digital: &ldquo;Accidentally becoming accessibility
            champions&rdquo;
            <br />- 2nd May 2018 - Manchester
          </a>
        </li>
        <li>
          <a
            href="https://www.meetup.com/frontenders-valtech/events/247610703/"
            rel="noopener"
          >
            Front Enders: &ldquo;Our adventures with pattern libraries&rdquo;
            <br />- Thursday 15th March - London:
          </a>
        </li>
      </ul>
    </div>
  </section>
</Layout>
