---
---

<aside class="c-colophon">
  <h3>
    <a href="/colophon/" class="c-colophon__link">Colophon</a>
  </h3>
  <ul class="c-colophon__list">
    <li class="c-colophon__items">
      Built using:{' '}
      <a href="https://code.visualstudio.com/" rel="noopener">
        Visual Studio Code
      </a>
    </li>
    <li class="c-colophon__items">
      Generated with:{' '}
      <a href="https://astro.build/" rel="noopener"> Astro</a>
    </li>
    <li class="c-colophon__items">
      Hosted on:{' '}
      <a href="https://github.com/gbbns/astro.gbbns.co" rel="noopener">
        Github
      </a>
    </li>
    <li class="c-colophon__items">
      Published on:{' '}
      <a href="https://www.netlify.com/" rel="noopener"> Netlify</a>
    </li>
    {
      /* <li class="c-colophon__items">Background colour: #000000 </li>
        <li class="c-colophon__items">Typeface: Space Mono</li>
        <li class="c-colophon__items">H1 colour: #272727</li>
        <li class="c-colophon__items">H2 colour: #FFFFFF</li>
        <li class="c-colophon__items">Bodycopy colour: #A3A3A3</li>
        <li class="c-colophon__items">Theme: <button onClick={this.handleClick}>Light</button></li>
					<li class="c-colophon__items">Theme: <button onClick={this.handleClick}>Dark</button></li>
					<li class="c-colophon__items">Theme: <button onClick={this.handleClick}>Bad Ass Orange</button></li> */
    }
  </ul>
</aside>
