---
  const copyrightYear = new Date().getFullYear();
---
    <footer class='c-footer'>
      <nav>
        <ul class='h-list'>
          <li class='h-list__item'>
            <a href='/colophon'>Colophon</a>
          </li>
          <li class='h-list__item'>
            <a href='/now'>Now</a>
          </li>
          <li class='h-list__item'>
            <a href='/uses'>Uses</a>
          </li>
          <li class='h-list__item'>
            <a href='/tags'>Tags</a>
          </li>
        </ul>
      </nav>

      <ul class='h-list '>
        <li class='h-list__item'>
          <a href='https://github.com/gbbns' rel='noopener'>
            GitHub
          </a>
        </li>
        <li class='h-list__item'>
          <a href='https://www.instagram.com/_gbbns' rel='noopener'>
            Instagram
          </a>
        </li>
        <li class='h-list__item'>
          <a href='https://twitter.com/_gbbns' rel='noopener'>
            Twitter
          </a>
        </li>
        <li class='h-list__item'>
          <a href='https://uk.linkedin.com/in/gbbns' rel='noopener'>
            LinkedIn
          </a>
        </li>
        <li class='h-list__item'>
          <a href='https://500px.com/gbbns' rel='noopener'>
            500px
          </a>
        </li>
      </ul>

      <p>
        Copyright &copy; {copyrightYear}{' '}
        <a href='mailto:chris@gbbns.co' rel='noopener'>
          chris@gbbns.co
        </a>{' '}
        - All rights reserved.
      </p>
    </footer>
