---
const pathname = new URL(Astro.request.url).pathname
console.log(Astro)
const currentPath = pathname.slice(1) // remove the first "/"
console.log(currentPath.replace(/\/$/, ''))
---

<p>{currentPath}</p>
<header class="o-content__sidebar">
  <a class="c-masthead" href="/">
    <span class="c-masthead__item" aria-hidden="true">gbbns.co</span>
    <span class="c-masthead__item">Chris Gibbons</span>
    <span class="c-masthead__item">
      <span aria-hidden="true">/&nbsp;</span>
      UX Technologist</span
    >
  </a>

  <nav class="c-navigation">
    <ul class="c-navigation__primary">
      <li>
        <a
          href="/about"
          class={currentPath === 'about'
            ? 'c-navigation__link is-active'
            : 'c-navigation__link'}
        >
          About
        </a>
      </li>
      <li>
        <a
          href="/writing"
          class={currentPath === 'writing'
            ? 'c-navigation__link is-active'
            : 'c-navigation__link'}
        >
          Writing
        </a>
      </li>
      <li>
        <a
          href="/weeknotes"
          class={currentPath === 'weeknotes'
            ? 'c-navigation__link is-active'
            : 'c-navigation__link'}
        >
          Weeknotes
        </a>
      </li>
      <li>
        <a
          href="/speaking"
          class={currentPath === 'speaking'
            ? 'c-navigation__link is-active'
            : 'c-navigation__link'}
        >
          Speaking
        </a>
      </li>
      <li>
        <a
          href="/contact"
          class={currentPath === 'contact'
            ? 'c-navigation__link is-active'
            : 'c-navigation__link'}
        >
          Contact
        </a>
      </li>
    </ul>
  </nav>
</header>
