---
let currentPath = Astro.url.pathname
currentPath = currentPath.startsWith('/')
  ? currentPath.substring(1)
  : currentPath
currentPath = currentPath.endsWith('/') ? currentPath.slice(0, -1) : currentPath
---

<header class="o-content__sidebar">
  <a class="c-masthead" href="/">
    <span class="c-masthead__item">Chris Gibbons</span>
    <span class="c-masthead__item">
      <span aria-hidden="true">//&nbsp;</span>
      UX Technologist</span
    >
    <span class="c-masthead__item">gbbns.co</span>
  </a>

  <nav class="c-navigation">
    <ul class="c-navigation__primary">
      <li>
        <a
          href="/about/"
          class={currentPath.toLowerCase().includes('about')
            ? 'c-navigation__link is-active'
            : 'c-navigation__link'}
        >
          About
        </a>
      </li>
      <li>
        <a
          href="/writing/"
          class={currentPath.toLowerCase().includes('writing')
            ? 'c-navigation__link is-active'
            : 'c-navigation__link'}
        >
          Writing
        </a>
      </li>
      <li>
        <a
          href="/weeknotes/"
          class={currentPath.toLowerCase().includes('weeknotes')
            ? 'c-navigation__link is-active'
            : 'c-navigation__link'}
        >
          Weeknotes
        </a>
      </li>
      <li>
        <a
          href="/speaking/"
          class={currentPath.toLowerCase().includes('speaking')
            ? 'c-navigation__link is-active'
            : 'c-navigation__link'}
        >
          Speaking
        </a>
      </li>
      <li>
        <a
          href="/contact/"
          class={currentPath.toLowerCase().includes('contact')
            ? 'c-navigation__link is-active'
            : 'c-navigation__link'}
        >
          Contact
        </a>
      </li>
    </ul>
  </nav>
</header>
